$color-primary: #222;
$color-secondary: #20ffaf;
$color-secondary-support: #72ffc4;
$color-darkest: #111;
$color-text: #f4f4f4;

@mixin input {
  margin: 0.5rem 0;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.2rem;
  color: $color-text;
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 2px #353535, 0 0 0 3px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 0.5), inset 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}
