$color-primary: #252525;
$color-secondary: #20ffaf;
$color-secondary-support: #72ffc4;
$color-darkest: #1a1a1a;
$color-text: #d8b0b0;
$color-text--error: rgb(255, 8, 0);

@mixin input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.7rem 0;
  border: none;
  border-radius: 0.2rem;
  background-color: #222;
  color: $color-text;
  font-size: 1.1rem;
  font-weight: 200;
  box-shadow: inset 4px 4px 8px #111, inset -1px -1px 2px #444;
}
