@import "../utility/variables.scss";

.filters {
  width: 20rem;
  margin-bottom: 2rem;
}

.btn_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.2rem 0.8rem;
  background-color: transparent;
  border-radius: 0.7rem;
  color: $color-secondary-support;
  transition: 300ms;
  cursor: pointer;
}

.indicator {
  width: 5rem;
  height: 0.2rem;
  background-color: $color-secondary;
  border-radius: 1rem;
  position: absolute;
  bottom: -0.3rem;
  left: 2.5rem;
}
