@import "../utility/variables.scss";

.new {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: $color-darkest;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newForm {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-form;
  box-shadow: 3px 3px 6px #000, -2px -2px 4px #666;
}

.formSection {
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text;
}

.input {
  margin: 1rem 0;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  width: 14rem;
  height: 2.5rem;
  border-radius: 0.6rem;
  color: $color-text;
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 2px #353535, 0 0 0 3px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 0.5), inset 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.addBtn {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background-color: $color-secondary;
  box-shadow: 0 0 8px $color-secondary-support;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
