@import "../utility/variables.scss";

.box {
  height: 15rem;
  width: 100%;
  background: $color-primary;
  position: relative;
  border-radius: 5px;
}

.circle_container {
  height: 180px;
  width: 180px;
  position: relative;
  top: 2rem;
  margin: 0 auto;
  //transform: rotate((-90deg));
}

.box svg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.box svg circle {
  fill: transparent;
  stroke: $color-secondary;
  stroke-width: 16;
  stroke-linecap: round;
  stroke-dasharray: 500;
}

.box .progress {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  color: $color-secondary;
}

.box .percent,
.box .current {
  color: $color-secondary;
  position: absolute;
  transform: translate(-50%, 0);
  font-size: 1.5rem;
}

.box .percent {
  top: 55%;
  left: 50%;
  font-weight: 500;
}

.box .current {
  top: 30%;
  left: 50%;
}
