@import "../utility/variables.scss";

.box {
  height: 15rem;
  width: 100%;
  background: $color-primary;
  position: relative;
  border-radius: 5px;
}

.circle_container {
  height: 5rem;
  width: 15rem;
  position: relative;
  top: 2rem;
  margin: 0 auto;
  //transform: rotate((-90deg));
}

.box svg {
  height: 13rem;
  width: 13rem;
  background-color: #222;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%) rotate(90deg);
  box-shadow: 6px -4px 12px #111, -2px 2px 4px #555;
}

.box svg circle {
  fill: transparent;
  stroke: $color-secondary;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-dasharray: 500;
  filter: drop-shadow(0 0 4px $color-secondary);
}

.box .progress {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  color: $color-secondary;
}

.box .percent,
.box .current {
  color: $color-secondary;
  position: absolute;
  transform: translate(-50%, 70%);
}

.box .percent {
  top: 80%;
  left: 50%;
  font-weight: 500;
  font-size: 1.3rem;
}

.box .current {
  top: 30%;
  left: 50%;
  font-size: 1.4rem;
}
