.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_page button {
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 14rem;
  }
  .main {
    padding-top: 5rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .main_container {
    flex: 1;
    transform: translateX(-5rem);
  }
}
